body {
    background-color: black;
}

main {
    background-color: rgb(8, 0, 7);
    border: 1px rgb(22, 0, 22) solid;
    width: 850px;
    height: 530px;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-family: cursive;
    color: white;
    font-size: 35px;
    margin-top: 45px;
}

.logo {
    margin-left: 310px;
}

ul {
    height: 131px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

li {
    width: 130px;
    height: 129px;
    margin: 5px;
    height: 90px;
    text-align: center;

}

p {
    text-align: center;
    margin-top: 8px;
    color: white;
    font-family: cursive;
}

.usuario {
    margin-top: 0px;
    margin-left: 10px;
    width: 120px;
    height: 120px;
    border-radius: 5px;

}

button {
    margin-top: 80px;
    margin-left: 337px;
    background-color: rgb(8, 0, 7);
    color: white;
    width: 170px;
    height: 45px;
    border: 1px white solid;
    border-radius: 10px;
    font-family: cursive;
}

button:hover {
    color: black;
    background-color: white;
    font-weight: 800;
    transition: 0.8s;
    cursor: pointer;
}

li:hover {
    cursor: pointer;
    transform: scale(1.07);
    transition: 0.9s;
    text-align: center;
}